.container {
  background-color: rgb(26 150 218);
  width: 1300px;
  height: 400px;
}

.column-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columns {
  display: flex;
}

h2 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: rgb(26 150 218);
  color: white;
  margin-top: 70px;
  margin-bottom: 40px;
}

h3 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  text-align: center;
}

p {
  color: white;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: calc(100% / 2);
  margin-left: 100px;
}

.img-container {
  text-align: center;
}

img {
  background-color: white;
  border-radius: 150px;
  width: 90px;
  padding: 18px;
  justify-content: center;
}
