.container {
  width: auto;
  background-color: rgb(247 248 250);
}

.row {
  width: 100%;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-one-fourth {
  margin: 10px;
}

.phone-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.phone-container img {
  width: 400px;
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon-container img {
  width: 100px;
}

.info-container p {
  margin-top: 50px;
  font-family: Barlow, sans-serif;
  text-align: center;
}

h1 {
  font-family: Barlow, sans-serif;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: Barlow, sans-serif;
  text-align: center;
}
